@model MarathonManager.Web.ViewModels.ChangePasswordViewModel

<h2>Đổi mật khẩu</h2>

<form asp-action="ChangePassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label>Mật khẩu hiện tại</label>
    <input asp-for="CurrentPassword" type="password" class="form-control" />

    <label>Mật khẩu mới</label>
    <input asp-for="NewPassword" type="password" class="form-control" />

    <label>Nhập lại mật khẩu mới</label>
    <input asp-for="ConfirmPassword" type="password" class="form-control" />

    <button class="btn btn-primary mt-3">Đổi mật khẩu</button>
</form>
@section Scripts {
    <script>
        @if (TempData["Success"] != null)
        {
            <text>
                    alert('@Html.Raw(TempData["Success"])');
                    window.location.href = '@Url.Action("Profile", "Account")';
            </text>
        }
    </script>
}